article#about
  h2.major About
  span.image.main
    img(src="assets/images/bg/glaciar2.jpg")
  p
  | A proactive and hard-working computer engineer, driven by his strong passion in distributed systems, high performance computing, big data analytics, algorithms optimization, mathematical models and startups development.
  | An enthusiastic idea generator and an energetic public speaker with effective networking skills. Believes in the awareness of personal weaknesses as the way to generate competitive advantages.
  | Looking for a cosmopolitan place of excellence to test, enhance and extend his personal qualities and technical knowledge.
  |
  | Wants to ...
  |
  | Create innovation in computer science, growing in a cutting-edge scientific research ecosystem.
  | Live experiences that trigger the cross-pollinative share of technical skills and business ideas.
  | Learn innovative technologies for distributed autonomic high performance computing and heuristic approaches to NP-hard algorithms.
  | Build a synergistic team to test collaborative models, forge leadership and deliver great products.
