article#contact
  h2.major Contact
  ul.icons.align-center
    li
      a.icon.fa-gitlab(href="http://bit.ly/gmarciani-gitlab" target="_blank")
        span.label GitLab
    li
      a.icon.fa-twitter(href="http://bit.ly/gmarciani-twitter" target="_blank")
        span.label Twitter
    li
      a.icon.fa-linkedin(href="http://bit.ly/gmarciani-linkedin" target="_blank")
        span.label Linkedin
    li
      a.icon.fa-facebook(href="http://bit.ly/gmarciani-facebook" target="_blank")
        span.label Facebook
    li
      a.icon.fa-envelope(href="mailto:gmarciani@acm.org")
        span.label Mail
