header#header
  .logo
    span.icon.fa.fa-diamond
  .content
    .inner
      h1 Giacomo Marciani
      p A passionate computer engineer
  nav
    ul
      li
        a(href="#about") About
      li
        a(href="#works") Works
      li
        a(href="#portfolio") Portfolio
      li
        a(href="#skills") Skills
      li
        a(href="http://bit.ly/gmarciani-resume-web" target="_blank") Resume
      li
        a(href="#contact") Contact
