title gmarciani

// META: BASIC
meta(charset="utf-8")
meta(http-equiv="content-script-type" content="text/javascript")
meta(http-equiv="content-style-type" content="text/css")
meta(http-equiv="content-language" content="en")
meta(http-equiv="date" content="01/01/2017")
meta(http-equiv="window_target" content="_top")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

// META: SEO
meta(name="application-name" content="gmarciani")
meta(name="author" content="Giacomo Marciani")
meta(name="description" content="Giacomo Marciani, a passionate computer engineer")
meta(name="copyright" content="Giacomo Marciani")
meta(name="keywords" content="giacomo,marciani,computer science,engineering,research,university,industry,software,skill,job")
meta(name="google" content="notranslate")
meta(name="robots" content="noindex, nofollow")
meta(name="revisit-after" content="7 days")
link(rel="canonical" href="http://gmarciani.com")

// FACEBOOK
meta(property="og:site_name" content="gmarciani")
meta(property="fb:profile_id" content="giacomo.marciani")
meta(property="og:type" content="article")
meta(property="og:title" content="gmarciani")
meta(property="og:description" content="Giacomo Marciani, a passionate computer engineer")
meta(property="og:image" content="assets/images/brand/logo.png")
meta(property="og:url" content="http://gmarciani.com")
meta(property="og:locale" content="en_US")
meta(property="og:locale:alternate" content="it_IT")
meta(property="article:published_time" content="01/07/2017")
meta(property="article:author" content="Giacomo Marciani")
meta(property="article:section" content="home")
meta(property="article:tag" content="giacomo,marciani,computer science,engineering")

// TWITTER
meta(name="twitter:site" content="@giacomomarciani")
meta(name="twitter:creator" content="@giacomomarciani")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="gmarciani")
meta(name="twitter:description" content="Giacomo Marciani, a passionate computer engineer")
meta(name="twitter:image" content="assets/images/brand/logo.png")

link(rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="assets/styles/main.min.css")
//if lte IE 9
  link(rel="stylesheet" type="text/css" href="assets/styles/ie9.min.css")
noscript
  link(rel="stylesheet" type="text/css" href="assets/styles/noscript.min.css")

// FAVICONS
link(rel="icon" type="image/svg+xml" sizes="any"    href="assets/images/brand/favicon.svg")
link(rel="icon" type="image/png"     sizes="64x64"  href="assets/images/brand/favicon-64.png")
link(rel="icon" type="image/png"     sizes="48x48"  href="assets/images/brand/favicon-48.png")
link(rel="icon" type="image/png"     sizes="32x32"  href="assets/images/brand/favicon-32.png")
link(rel="icon" type="image/png"     sizes="24x24"  href="assets/images/brand/favicon-24.png")
link(rel="icon" type="image/png"     sizes="16x16"  href="assets/images/brand/favicon-16.png")
link(rel="icon" type="image/x-icon"                 href="assets/images/brand/favicon.ico")
link(rel="shortcut icon" type="image/x-icon"        href="assets/images/brand/favicon.ico")

// APPLE
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")

link(rel="mask-icon"        type="image/svg+xml"    sizes="any"     href="assets/images/brand/mask-icon.svg" color="#000")
link(rel="apple-touch-icon" type="image/png"        sizes="180x180" href="assets/images/brand/apple-touch-icon-180.png")
link(rel="apple-touch-icon" type="image/png"        sizes="152x152" href="assets/images/brand/apple-touch-icon-152.png")
link(rel="apple-touch-icon" type="image/png"        sizes="120x120" href="assets/images/brand/apple-touch-icon-120.png")
link(rel="apple-touch-icon" type="image/png"        sizes="76x76"   href="assets/images/brand/apple-touch-icon-76.png")
link(rel="apple-touch-icon" type="image/png"        sizes="57X57"   href="assets/images/brand/apple-touch-icon-57.png")

link(rel="apple-touch-startup-image" type="image/png" sizes="320x480" href="assets/images/brand/apple-touch-startup-image-320x480.png")

// GOOGLE
link(rel="manifest" type="text/json" href="/.manifest.json")
meta(name="mobile-web-app-capable" content="yes")

// MICROSOFT
meta(name="msapplication-config" type="text/xml" content="/.msconfig.xml")
