article#portfolio
  h2.major Portfolio
  ul
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-ontoqa" target="_blank") ONTOQA
      |  natural language processing
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-crimegraph" target="_blank") CRIMEGRAPH
      |  criminal network analysis
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-botnet" target="_blank") BOTNET
      |  centralized botnet
    li
      strong
        a(href="http://bit.ly/gmarciani-github-sostream" target="_blank") SOSTREAM
      |  social network analysis
    li
      strong
        a(href="http://bit.ly/gmarciani-github-opmap" target="_blank") OPMAP
      |  optimal placement for DSP applications
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-rusp" target="_blank") RUSP
      |  reliable user segment protocol
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-gmparser" target="_blank") GMPARSER
      |  LR(1) and CYK parser
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-robomap" target="_blank") ROBOMAP
      |  simulator for domestic robot navigation
    li
      strong
        a(href="http://bit.ly/gmarciani-gitlab-ipath" target="_blank") IPATH
      |  route optimization on OSM
    li
      strong
        a(href="http://bit.ly/gmarciani-github-godot" target="_blank") GODOT
      |  app to solve an italian traffic problem
    br
    | Discover more on my
    |
    a(href="http://bit.ly/gmarciani-gitlab" target="_blank") Gitlab

  h2.major Publications
  ul
    li
      a(href="http://bit.ly/marciani-normal-form" target="_blank") Marciani Normal Form of context-free grammars
    li
      a(href="http://bit.ly/gmarciani-acm-debs-2016" target="_blank") Real-time analysis of social networks leveraging the Flink framework
