article#skills
  h2.major Skills
  ul
    li
      strong LANGUAGES
      |  Java, Python, C, Cuda, HTML5, JS, CSS3, Sass, Bash, MIPS
    li
      strong WEB
      |  Nginx, Apache Web Server, Spring, Angular, Node, Postman, Magento, Wordpress, Jekyll
    li
      strong DATABASE
      |  MySQL, MongoDB, Neo4J, Redis
    li
      strong DISTRIBUTED SYSTEMS
      |  Amazon AWS, Digital Ocean, Flink, HadoopFS, Kafka
    li
      strong BUILD TOOLS
      |  Maven, Make, NPM, Gulp, Bower
    li
      strong DEV TOOLS
      |  Eclipse, Jetbrains, Git, JUnit
    li
      strong VIRTUALIZATION
      |  Oracle VirtualBox, Docker
    li
      strong IT AUTOMATION
      |  Vagrant, Ansible
    li
      strong APPLIED MATH
      |  AMPL, Matlab, IBM Cplex, IBM Cplex Concert Technology
    li
      strong PLATFORMS
      |  Linux, OSX, Windows, Android, RaspberryPi, Arduino
    li
      strong OTHER
      |  Latex, Inkscape, Sketch
