article#works
  h2.major Works
  ul
    li
      strong CHAIRMAN
      |  ACM Rome
    li
      strong TEACHING ASSISTANT
      |  Algorithms Engineering, University Tor Vergata
    li
      strong TEACHING ASSISTANT
      |  Found. Computer Science, University Tor Vergata
    li
      strong PRIVATE TUTOR
      |  Mathematics
    li
      strong WEB DEVELOPER
      |  Restanio's Law Firm
    li
      strong TECH WRITER
      |  Unistudenti
    li
      strong FACILITATOR
      |  EmpoweringKeys
    li
      strong COFOUNDER
      |  Sbaam
    br
    | Discover more on my
    |
    a(href="http://bit.ly/gmarciani-linkedin" target="_blank") Linkedin

  h2.major Honours
  ul
    li
      strong LECTURER
      |  An hour of code
    li
      strong LECTURER
      |  Master CESMA
    li
      strong FINALIST
      |  ACM DEBS Grand Challenge
    li
      strong SPEAKER
      |  InnovactionLab Gran Finale
    li
      strong BEST STUDENT
      |  Computer Architectures
    li
      strong ALUMNO
      |  InnovactionLab
    li
      strong COUNSELOR
      |  Faculty of Engineering
