doctype html
html
  head
    include includes/head.pug
  body
    include includes/loading.pug
    #wrapper
      include includes/header.pug
      #main
        include includes/about.pug
        include includes/works.pug
        include includes/portfolio.pug
        include includes/skills.pug
        include includes/contact.pug
      include includes/footer.pug
    #bg
    script(type="text/javascript" src="assets/vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="assets/vendor/skel/dist/skel.min.js")
    script(type="text/javascript" src="assets/scripts/main.min.js")
